<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="scrape-new">Scrape Articles</a></li>
            <li><a class="clear">Clear Articles</a></li>
        </ul>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption center">
        <h1>/r/News Scraper</h1>
    </div>
</div>
{{#each article}}
<div class="row article-container">
    <div class="col m4"></div>
    <div class="col m4 center">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{this.title}}</span>
            </div>
            <div class="card-action">
                <a href={{this.link}}>Link to article</a>
                <a class="save"href="/saved">Save Article</a>
            </div>
        </div>
    </div>
    <div class="col m4"></div>
</div>
{{/each}}

<footer class="footer">
    <div class="container center">
        <p>Reddit Mongo Scraper</p>
    </div>
</footer>